@font-face {
    font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.wrapper{
    max-width: 70%;
    margin: auto;
    margin-top: 33px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #828282; /* Параметры рамки */
}

.header__burger{
    display: none;
}

.header__link{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 22px;
    color: #070707;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:hover.active{
    color: #555555;
    font-size: 17px;
}
.header__link-last{
    color: #ad1111;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header__link-last:hover, .header__link-last:focus, .header__link-last:hover.active{
    color: #e63030;
    font-size: 18px;
}
.intro{
    display: flex;
    justify-self: space-between;
    align-items: flex-end;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

.intro__name-text{
    display: inline-block;

    color: #070707;
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
}

.intro__info-text{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30%;
}
.intro__year-text{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: rotate(-90deg);
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
}
.intro__lang-active-text{
    color:#816969;
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
}
.photo{
    display:block;
    margin:auto;
    width: 70%;
    margin-top: 50px;
    box-shadow: 0px 0px 50px 5px rgb(122, 122, 122);
}
.about__me{
    display: block;
    margin: 0 auto;
    margin-top: 104px;
    background-color: #F6F6F6;
}
.about__me-text{
    padding-top: 120px;
    padding-bottom: 34px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}
.about__me-format{
    margin-bottom: 50px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.about__me-format:last-child{
    padding-bottom: 107px;
}
.skills{
    width: 70%;
    margin: auto;
}
.skills__title{
    display: block;
    margin: 0 auto;
    padding-top: 70px;
    background-color: rgb(255, 255, 255);
}
.skills__title-text{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}
.programs{
    margin-top: 5%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.programs__cards{
    display: flex;
    justify-content: space-between;
    margin: 8% auto 0%;
}
.programs__card{
    width: 30%;
}

.programs__pic{
    display: block;
    width: 90%;
    margin: auto;
    height: 89px;  
    left: 50%;
    text-align: center;
}
.program__name{
    margin-top: 20px;
    color: #828282;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.stars{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    align-content:flex-end;
}
.star{
    
    /* display: flex; */
    width: 25%;
}
.portfolios{
    background-color: #F6F6F6;
}
.portfolio-title{
    padding-top: 113px;
    padding-bottom: 47px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}
.port{
    display: block;
    width:  70%;
    margin: auto;
    box-shadow: 0px 0px 30px 10px rgb(190, 190, 190);
}
.portfolio-name{
    padding-bottom: 96px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}
.container__footer{
    width: 70%;
    margin: auto;
}
.contacts{
    padding-top: 90px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}
.last-p{
    padding-top: 20px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
/* .button-div{
    width: max-content;
    margin: 30px auto 86px;
}
.button{
    padding: 14px 28px;
    border: 0;
    border-radius: 80px;
    background: #070707;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
}
.button:hover{
    background: #353434;
    transform: scale(1.1);
} */
.socials{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto 46px;
}
.little__text {
    padding-bottom: 90px;
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}




/* Contact */

.contact__container{
    display: flex;
    margin: 60px auto 120px;

}
.contact__photo{
    width: 50%;
    box-shadow: 0px 0px 50px 5px rgb(122, 122, 122);
}
.contact__info{
    width: 49%;
    display: block;
    margin: 0px auto;
}

.contact__header{
    text-transform: uppercase;
    line-height: 200%;
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
    margin: 0 auto 1vh;
    font-weight: 600;
}

.contact__text{
    font-size: 1.3vw;
    text-align: center;
    width: 100%;
    margin: auto;
    line-height: 4vh;
}


@media screen and(max-width: 640px) {
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__burger span{
       position: absolute;
       background: #000; 
       position: absolute;
       width: 100%;
       height: 2px;
       left: 0;
       top: 9px;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: rgb(0, 0, 0);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    
}